<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="1000px">
    <form class="mt-60" #clientesFrm="ngForm" (ngSubmit)="salvarCliente()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Dados cadastrais</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-20">
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16">
            <mat-form-field class="full-width">
              <mat-label>Nome: *</mat-label>
              <input
                [(ngModel)]="cliente.nome"
                type="text"
                placeholder="Insira seu nome"
                matInput
                name="nome"
              />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Email: *</mat-label>
              <input
                [(ngModel)]="cliente.email"
                type="email"
                placeholder="Insira seu email"
                matInput
                name="email"
              />
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16">
            <mat-form-field class="full-width">
              <mat-label>CPF: *</mat-label>
              <input
                mask="000.000.000-00"
                [(ngModel)]="cliente.cpf"
                placeholder="Insira seu CPF"
                matInput
                name="cpf"
              />
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Data de Nascimento: *</mat-label>
              <input
                [(ngModel)]="cliente.dataNascimento"
                mask="00/00/0000"
                placeholder="Data de nascimento"
                matInput
                name="dataNascimento"
              />
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16">
            <mat-form-field class="full-width">
              <mat-label>UF</mat-label>
              <mat-select
                [(ngModel)]="cliente.UF"
                name="UF"
                (ngModelChange)="getMunicipios()"
                placeholder="Selecione a UF"
              >
                <mat-option *ngFor="let uf of UFs" [value]="uf.sigla">{{
                  uf.nome
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Municipio</mat-label>
              <mat-select
                [disabled]="!cliente.UF"
                [(ngModel)]="cliente.municipio"
                name="municipio"
                placeholder="Selecione o municipio"
              >
                <mat-option
                  *ngFor="let municipio of municipios"
                  [value]="municipio.nome"
                  >{{ municipio.nome }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          @if(!atualizando){
          <button class="ml-5" mat-raised-button color="primary" type="submit">
            <mat-icon fontIcon="save" type="submit"></mat-icon> Salvar
          </button>
          } @else {
          <button class="ml-5" mat-raised-button color="warn">
            <mat-icon fontIcon="refresh" type="submit"></mat-icon>Atuallizar
          </button>
          }
          <button class="ml-5" mat-raised-button color="warn">
            <mat-icon fontIcon="backspace"></mat-icon>Limpar
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
